@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row d-flex justify-content-between">
    <div class="col-md-4">
        <div class="nav-container">
            <a class="navigation-chosen" id="register" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a  id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <hr />
        <section>
            <form id="account" method="post" class="form-login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-5">
                    <button type="submit" class="button-authen">Log in</button>
                </div>
                <div class="form-group mt-3 d-flex justify-content-between">
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                    </p>
                </div>
            </form>
        </section>
        <section class="mt-4">
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div class="d-flex flex-column">
                        <button class="button btn btn-primary mt-3">Google</button>
                        <button class="button btn btn-primary mt-3">Facebook</button>
                        <button class="button btn btn-primary mt-3">X</button>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button style="margin-top: 30px; width:100%;" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }

                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-md-6">
        <div class="img-container">
            <img src="/assets/img/jpg/Health-care-and-medical-help.jpg" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
